<section class="section" style="background-color: hsl(0, 0%, 96%); padding-bottom: 200px; padding-top: 70px;">
    <div class="px-5 py-5 px-mx-3 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">Reset Your Password</h1>
            <p>Please enter your new password and confirm it.</p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      id="password"
                      class="form-control"
                      placeholder="Enter New Password"
                      formControlName="password"
                      required
                    />
                    <label class="form-label" for="password">Password</label>
                    <div *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched" class="error">
                      <div *ngIf="resetForm.get('password')?.errors?.['required']">Password is required.</div>
                      <div *ngIf="resetForm.get('password')?.errors?.['minlength']">Minimum length is 7 characters.</div>
                      <div *ngIf="resetForm.get('password')?.errors?.['pattern']">Password must contain at least one uppercase letter and one lowercase letter.</div>
                    </div>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      id="confirmPassword"
                      class="form-control"
                      placeholder="Confirm New Password"
                      formControlName="confirmPassword"
                      required
                    />
                    <label class="form-label" for="confirmPassword">Confirm Password</label>
                    <div *ngIf="resetForm.errors && resetForm.errors['mismatch'] && resetForm.get('confirmPassword')?.touched" class="error">
                        <small>Passwords do not match.</small>
                    </div>
                  </div>
  
                  <button type="submit" class="btn btn-floating mx-1 submit" [disabled]="resetForm.invalid">
                    Submit
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>