<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Quick Cart</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/home"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/admin"
            routerLinkActive="active"
            >Admin Dashbord</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/user"
            routerLinkActive="active"
            >User Dashbord</a
          >
        </li>
      </ul>

      <div *ngIf="!isloggedin()" class="d-flex gap-2">
        <button
          class="btn btn-custom-login"
          type="submit"
          routerLink="/login"
          routerLinkActive="active"
        >
          Login</button
        ><br />
        <button *ngIf="!isloggedin()" class="btn btn-custom-logout" type="submit" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</nav>
