.dropzone {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropzone:hover {
    background-color: #f0f0f0;
}

.btn-remove-image {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

.mat-grid-tile img {
    width: 100%; 
    height: auto; 
    border-radius: 5px;
}

.error {
    border: 1px solid transparent; 
}

.mat-form-field-underline.error {
    background-color: transparent; 
}

.mat-form-field-appearance-outline .mat-form-field-underline {
    background-color: #2196f3; 
}

.mat-form-field-appearance-outline .mat-form-field-label {
    color: #2196f3;
}

.mat-form-field-appearance-outline .mat-form-field-label.mat-focused {
    color: #1976d2; 
}