
.error {
    border-color: rgb(0, 0, 0);
    border: 2px;
    background-color: rgb(228, 135, 135);
    margin: 5px;
    padding: 5px;
    border-radius: 50px;
    justify-items: center;
    /* width: 50%; */
  }
  
  
  .label {
    display: block;
    font-weight: bold;
  }
  /* .myclass{
    margin-left: 500px;
  } */
  .background-radial-gradient {
    background-color: hsl(0, 0%, 96%)
}



.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
/* }
.bg-body-tertiary:hover {
    transform: scale(1.05); /* Slightly enlarge the card */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
} 

/* Style for the input fields */
.form-control {
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.form-control:focus {
    border-color: rgb(53, 119, 206); /* Change border color on focus */
    box-shadow: 0 0 5px rgba(53, 119, 206, 0.5); /* Add shadow on focus */
}

/* Style for the labels */
.form-label {
    transition: color 0.3s ease; /* Smooth transition for label color */
}

.form-control:focus + .form-label {
    color: rgb(53, 119, 206); /* Change label color on input focus */
}

/* Error message styling */

.submit{
    /* background-color:  
     */
     background-color:#5980c1;
  }
