<div class="container mt-5">
    <div class="card p-3">
        <div class="row g-4">
            <!-- Order Form Column -->
            <div class="col-12 col-md-6">
                <h4 class="mb-3">Order Details</h4>
                <form #orderForm="ngForm" (ngSubmit)="placeOrder(orderForm)">
                    <mat-form-field appearance="outline" class="w-100 mb-2">
                        <mat-label>Full Name</mat-label>
                        <input matInput 
                        placeholder="Full Name"
                        [(ngModel)]="orderDetails.fullName"
                        name="fullName">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100 mb-2">
                        <mat-label>Full address</mat-label>
                        <input matInput 
                        placeholder="Full address"
                        [(ngModel)]="orderDetails.fullAddress"
                        name="fullAddress">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100 mb-2">
                        <mat-label>Contact number</mat-label>
                        <input matInput 
                        placeholder="Contact number"
                        [(ngModel)]="orderDetails.contactNumber"
                        name="contactNumber">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100 mb-3">
                        <mat-label>Alternate contact number</mat-label>
                        <input matInput 
                        placeholder="Alternate contact number"
                        [(ngModel)]="orderDetails.alternateContactNumber"
                        name="alternateContactNumber">
                    </mat-form-field>

                    <div class="d-flex justify-content-end">
                        <button type="submit" mat-stroked-button color="primary">Place Order</button>
                    </div>
                </form>
            </div>

            <!-- Order Summary Column -->
            <div class="col-12 col-md-6">
                <h4 class="mb-3">Order Summary</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead">
                            <tr>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            <tr *ngFor="let product of productDetail">
                                <td>{{product.productName}}</td>
                                <td>{{product.productDiscountedPrice}}</td>
                                <td>1</td>
                                <td>{{product.productDiscountedPrice}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>