<div class="container mt-5">
    <h2>Product List</h2>
    <div class="row">
        <mat-grid-list cols="4" rowHeight="1:1">
            <mat-grid-tile *ngFor="let product of products">
                <div style="position: relative">
                    <!-- <img [src]="product.productImages[0]?.url" width="100px" height="100px" *ngIf="product.productImages.length > 0"> -->
                    <h4>{{ product.productName }}</h4>
                    <p>{{ product.productDescription }}</p>
                    <p>Price: {{ product.productActualPrice }}</p>
                    <button type="submit" value="show" (click)="loadProducts()"></button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>