<h2 mat-dialog-title>Update User</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="userLastName"  required />
      <mat-error
        *ngIf="
          form.get('userLastName')?.hasError('required') &&
          form.get('userLastName')?.touched
        "
      >
        Last Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="userFirstName" required />
      <mat-error
        *ngIf="
          form.get('userFirstName')?.hasError('required') &&
          form.get('userFirstName')?.touched
        "
      >
        First Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required />
      <mat-error
        *ngIf="
          form.get('email')?.hasError('required') && form.get('email')?.touched
        "
      >
        Email is required
      </mat-error>
      <mat-error
        *ngIf="
          form.get('email')?.hasError('email') && form.get('email')?.touched
        "
      >
        Enter a valid email
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Mobile Number</mat-label>
      <input
        matInput
        formControlName="mobileNumber"
        required
        pattern="^[0-9]{10}$"
      />
      <mat-error
        *ngIf="
          form.get('mobileNumber')?.hasError('required') &&
          form.get('mobileNumber')?.touched
        "
      >
        Mobile Number is required
      </mat-error>
      <mat-error
        *ngIf="
          form.get('mobileNumber')?.hasError('pattern') &&
          form.get('mobileNumber')?.touched
        "
      >
        Enter a valid 10-digit mobile number
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Address</mat-label>
      <textarea matInput formControlName="address"></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button type="submit" color="primary" [disabled]="form.invalid">
      Update 
    </button>
  </mat-dialog-actions>
</form>
