.container {
  margin-top: 100px;
  max-width: 1200px;
  height: 100vh;
  /* border:  2px solid red; */
}

.text-center{
  font-size: xx-large;
  padding: 5px;
  
}
@media (max-width: 600px) {
  .container {
    padding: 8px;
  }
}

.nav {
  background-color: #5980c1;
  padding: 8px; /* Optional: Add padding to the toolbar */
}

button {
  margin-right: 16px; /* Add margin to the right of each button */
}

button:last-child {
  margin-right: 0; /* Remove margin from the last button */
}

.form-group {
  display: flex;
  justify-content: space-between; /* Space between left and right sections */
  align-items: center; /* Align items vertically in the center */
}

.form-group > div {
  margin-right: 15px; /* Space between the two input groups */
}

.form-control {
  width: 200px; /* Set a fixed width for the inputs */
}

.pagination-controls {
  display: flex;
  justify-content: space-between; /* Space between pagination controls */
  align-items: center; /* Align items vertically in the center */
}

@media (max-width: 500px) {
  .button-container {
    padding: 10px;
    display: flex; /* Use flexbox for horizontal alignment */
    flex-wrap: wrap; /* Allow buttons to wrap if necessary */
    justify-content: flex-start; /* Align buttons to the start */
  }
  .table-responsive {
    padding: 15px;
    width: 90%;
    /* margin: 20px; */
  }
  .page {
    padding: 15px;
  }
  .button-container button {
    margin-right: 16px; /* Space between buttons */
    margin-bottom: 8px; /* Space below buttons for wrapping */
  }
  .form-control {
    padding: 30px;
    width: 80vw;
  }

  .button-container button:last-child {
    margin-right: 0; /* Remove margin from the last button */
  }
}
