<mat-toolbar class="nav">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
    <button mat-raised-button (click)="showProducts()">Show Products</button>
    <button mat-raised-button (click)="addProduct()">Add Product</button>
  </div>
</mat-toolbar>
<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <div *ngIf="showProductList">
    <app-product-list></app-product-list>
  </div>

  <div *ngIf="!showProductList">
    <app-add-new-product></app-add-new-product>
  </div>
</div>