
 body {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.card {
    border-radius: 0.5rem;
    transition: transform 0.2s;
}

.updateprofile

.user-dashboard nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.user-dashboard button {
    /* flex: 1;
    margin: 0 5px; */
    border: none;
    margin-right: 5px;
}

.user-dashboard button:hover{
    /* flex: 1;
    margin: 0 5px; */
  
    border-bottom: 2px solid rgb(77, 127, 201);
   
}


.rating-review-section {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
}

.average-rating {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.stars {
    color: gold;
    font-size: 20px;
}

.rating-value {
    margin-left: 10px;
    font-weight: bold;
}

.review-list {
    margin-top: 10px;
}

.review-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.review-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.review-date {
    font-size: 0.9em;
    color: #777;
}

.review-text {
    margin-top: 5px;
    font-style: italic;
}
.error {
    border-color: rgb(0, 0, 0);
    border: 2px;
    background-color: rgb(228, 135, 135);
    margin: 5px;
    padding: 5px;
    border-radius: 50px;
    justify-items: center;
    /* width: 50%; */
  }
  