.container {
  margin-top: 20px;
 
}

.mat-header-cell {
  font-weight: bold; /* Make header text bold */
  background-color: rgba(126, 122, 118, 0.616);
}

.mat-cell {
  padding: 16px; /* Add padding to cells */
}

.mat-row:hover {
  background-color: rgba(0, 0, 0, 0.04); /* Light gray background on row hover */
}
