.container {
  margin-top: 100px;
 
}

.mat-header-cell {
  background-color: rgba(126, 122, 118, 0.616);
}

.mat-cell {
  padding: 16px;
}

.mat-row:hover {
  background-color: rgba(0, 0, 0, 0.04); 
}
