
.error {
    border-color: rgb(0, 0, 0);
    border: 2px;
    background-color: rgb(228, 135, 135);
    margin: 5px;
    padding: 5px;
    border-radius: 50px;
    justify-items: center;
    /* width: 50%; */
  }
  
  .label {
    display: block;
    font-weight: bold;
  }
  .submit{
    
     background-color:#5980c1;
     color: #ffffff;
  }
  .background-radial-gradient {
    background-color: hsl(0, 0%, 100%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(220, 50%, 30%) 15%,
        hsl(220, 50%, 25%) 35%,
        hsl(220, 50%, 20%) 75%,
        hsl(220, 50%, 18%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(220, 50%, 40%) 15%,
        hsl(220, 50%, 28%) 35%,
        hsl(220, 50%, 20%) 75%,
        hsl(220, 50%, 18%) 80%,
        transparent 100%);
  }
  
  
  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.8) !important;
    backdrop-filter: saturate(180%) blur(20px);
  }
  