
<!-- Section: Design Block -->
<section class="section"  style="background-color: hsl(0, 0%, 96%); padding-bottom: 200px; padding-top: 70px;" >
    <!-- Jumbotron -->
    <div
      class="px-5 py-5 px-mx-3 text-center text-lg-start"
      style="background-color: hsl(0, 0%, 96%)"
    >
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              The best offer <br />
              <span class="text-primary">for your business</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
              itaque accusantium odio, soluta, corrupti aliquam quibusdam tempora
              at cupiditate quis eum maiores libero veritatis? Dicta facilis sint
              aliquid ipsum atque?
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form
                  class="form"
                  #loginForm="ngForm"
                  (ngSubmit)="sendemail(loginForm)"
                >
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      id="form3Example3 username"
                      class="form-control username"
                      placeholder="Enter email"
                      #email="ngModel"
                      ngModel
                      name="email"
                      required
                      pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                    />
                    <label class="form-label" for="form3Example3"
                      >Email</label
                    >
                    <div *ngIf="email.invalid && email.touched" class="error">
                        <div *ngIf="email.errors?.['required']">Email is required</div>
                        <div *ngIf="email.errors?.['pattern']">Enter a valid email address</div>
                    </div>
                  </div>
  
                
                  <button
                    type="submit"
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-floating mx-1 submit"
                    [disabled]="loginForm.invalid"
                  >
                   submit
                  </button>
                </form>
                
              </div>
              
          
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
  