

  <div class="productlist">
    <button
      mat-button
      (click)="previousPage()"
      [disabled]="page === 0"
      aria-label="Previous page"s
    >
      <mat-icon>chevron_left</mat-icon>
    </button>

    <div class="main container">
      <div class="product-grid">
        <div *ngFor="let product of products" class="product-card-container">
          <mat-card class="product-card">
            <mat-card-content>
              <div class="image-container">
                <img
                  *ngIf="product.productImages && product.productImages.length > 0"
                  [src]="product.productImages[0].url"
                  alt="{{ product.productName }}"
                  class="product-image"
                  loading="lazy"
                />
              </div>
              <mat-card-title>{{ product.productName }}</mat-card-title>
              <div class="description">
                <p class="product-description">{{ product.productDescription }}</p>
              </div>
              <div class="action-row">
                <span class="product-price">${{ product.productActualPrice }}</span>
                <button mat-button class="button" (click)="viewProduct(product.productId)">
                  View
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      
    </div>

    <button
      mat-button
      (click)="nextPage()"
      [disabled]="!hasMoreProducts"
      aria-label="Next page"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
